<!DOCTYPE html>
<html>
<head>
  <title>Blogapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>
<body>

  <nav class="amber lighten-3" >
    <div class="nav-wrapper" >
      <a class="brand-logo" ><font size="6"><%= link_to "BlogApp","/" %></font></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li><a><%= link_to "#{current_user.nickname}さんのページ","/users/#{current_user.id}"%></a></li>
        <li><a><%= link_to "#{current_user.nickname}さんのお気に入り","/clips/"%></a></li>
        <li><a><%= link_to "ログアウト" ,destroy_user_session_path , method: :delete %></a></li>
        <li><a class="post" href="/blogs/new">投稿する</a></li>
        <% else %>
        <li><a><%= link_to "ログイン",new_user_session_path, class:'post'%></a></li>
        <li><a><%= link_to "新規登録",new_user_registration_path,class:'post'%></a></li>
        <% end %>
      </ul>
    </div>
  </nav>

<%= yield %>

<script type="text/javascript" src="./app.js"></script>
</body>
</html>
